DATABASE_URL="postgresql://username:password@localhost:5432/database_names"

JWT_SECRET="your_jwt_secret_key"
JWT_EXPIRES_IN="1d"

PORT=3000

POSTGRES_DB=database_name
POSTGRES_USER=database_user
POSTGRES_PASSWORD=database_password